* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background: url("../Assets/Fondo.jpg") repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #0174C3;
    display: flex;
    flex: 10%;
    position: fixed;
    width: 100%;
}

header ul {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    list-style-type: none;
}

header a {
    font-size: 1.5rem;
    margin: 10px 20px;
    padding: 10px;
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    white-space: nowrap;
}

header a:hover {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

section {
    padding: 50px;
    border: 1px solid #0174C3;
    border-radius: 50%;
    background-color: #0174C3;
}

h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

@media screen and (min-width: 450px) and (max-width: 750px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
    html {
        font-size: 20px;
    }
    section {
        padding: 75px;
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 25px;
    }
    section {
        padding: 100px;
    }
}